@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");

.cursive {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.mont {
  font-family: "Montserrat", sans;
}

body {
  background-color: #f3e8ff;
}

//test 123
